@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik+Mono+One&display=swap');

.header {
  max-width: 1200%;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 50px;
  text-align: center;
  background-color: #65c1eb;
  font-family: 'Rubik Mono One', sans-serif;
}

.notfound {
  font-family: 'Rubik Mono One', sans-serif;
  margin: auto;
  font-size: 50px;
  text-align: center;
  height: 500px;
}

.footer {
  max-width: 1200%;
  height: 40px;
  margin: auto;
  font-size: 18px;
  text-align: left;
  background-color: #d4444d;
  font-family: 'Black Ops One', sans-serif;
}