@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik+Mono+One&display=swap');


/*======================= HEADER BEGIN ======================= */
h1 {
  text-align: center;
  font-family: 'Black Ops One',
    sans-serif;
}

.header {
  max-width: 1200%;
  height: 270px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #65c1eb;
  font-family: 'Rubik Mono One', sans-serif;
}

.bomblogo {
  display: flex;
  position: relative;
  left: -280px;
  top: 100px;
  width: 50px;
  height: 150px;
}

.bomblogo2 {
  display: flex;
  position: relative;
  left: -160px;
  top: 60px;
  width: 0px;
  height: 100px;
}

.star {
  display: flex;
  position: relative;
  left: 150px;
  top: 30px;
  width: 0px;
  height: 100px;
}

.smashlogo {
  display: flex;
  justify-content: center;
}

/*======================= HEADER END ======================= */

.navbar {
  background-color: #d4444d;
  height: 55px;
  font-size: 18px;
  font-family: 'Black Ops One',
    sans-serif;
}

.navbarlogo {
  margin: auto;
  height: 40px;
}

.supersmash {
  text-align: center;
  font-family: 'Black Ops One',
    sans-serif;
  font-size: 55px;
}

.header img {
  width: 800px;
}

.notfound {
  font-family: 'Rubik Mono One', sans-serif;
  margin: auto;
  font-size: 50px;
  text-align: center;
  height: 500px;
}

.footer {
  max-width: 100%;
  height: 55px;
  vertical-align: middle;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  background-color: #d4444d;
  font-family: 'Black Ops One', sans-serif;
}

form {
  margin-right: 20%;
  margin-left: 20%;
  font-family: 'Rubik Mono One',
    sans-serif;
}

label {
  display: inline-block;
  width: 100%;
  text-align: center;
}

input {
  text-align: center;
}

button {
  margin-bottom: 10px;
  font-size: 30px;
  border: 5px solid black;
  display: inline-block;
  font-family: 'Rubik Mono One',
    sans-serif;
  width: 30%;
}

#newButton {
  width: 100%;
  border: 2px solid black;
  color: black;
  background-color: #65c1eb;
}

.cardIndex {
  text-align: center;
  margin-bottom: 50px;
  display: inline;
  margin: 10px 10px 10px 10px;
  font-family: 'Rubik Mono One',
    sans-serif;
}

.card.card-body {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-bottom: 50px;
  font-family: 'Rubik Mono One',
    sans-serif;
}

.card {
  font-family: 'Rubik Mono One',
    sans-serif;
  margin-left: 20%;
  text-align: center;
  justify-content: center;
  display: inline-block;
}